<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Charts</ion-title>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="backPage()">
        <ion-icon name="arrow-back-outline" size="large" ></ion-icon>&nbsp; Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input type="text" [(ngModel)]="stock" placeholder="AAPL, MSFT..."></ion-input>
    <ion-button slot="end" expand="full" (click)="getData(stock)" [disabled]="stock == ''">
      <ion-icon slot="start" name="search"></ion-icon>
      Search
    </ion-button>
  </ion-item>

  <canvas baseChart 
  [datasets]="chartData" 
  [labels]="chartLabels" 
  [options]="chartOptions" 
  [legend]="showLegend" 
  [chartType]="chartType">
  </canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Line chart?</ion-label>
        <ion-toggle (ionChange)="typeChanged($event)" checked></ion-toggle>
      </ion-item>
<!--       <ion-item>
        <ion-label>Show legend?</ion-label>
        <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
      </ion-item> -->
<!--       <ion-item>
        <ion-label>Background color</ion-label>
        <ion-input type="text" [(ngModel)]="chartColors[0].backgroundColor"></ion-input>
      </ion-item> -->
    </ion-card-content>
  </ion-card>  

  <canvas baseChart 
    [datasets]="chart2Data" 
    [labels]="chart2Labels" 
    [legend]="showLegend" 
    [chartType]="chart2Type">
  </canvas>  

  <ion-row>
    <ion-col size="12">
      <ion-label class="labelTop">Tipo de Gráfico</ion-label>
    </ion-col>
    <ion-col class="finanSelect">
        <ion-select name="chart2Type" placeholder="Escolha o Tipo de Gráfico" [(ngModel)]="chart2Type" 
          interface="action-sheet">
          <ion-select-option *ngFor="let item of tipoChart" [value]="item.tipo">{{ item.descri }}</ion-select-option>
        </ion-select>
    </ion-col>
  </ion-row>    
</ion-content>
