<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Plugins Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="button-menu" size="large" routerLink="/camera1" expand="block">
    Camera Usando SqLite
  </ion-button>
  <ion-button class="button-menu" size="large" routerLink="/camera2" expand="block">
    Camera Usando Memória Interna
  </ion-button>
  <ion-button class="button-menu" size="large" routerLink="/charts" expand="block">
    Charts
  </ion-button>
  <ion-button class="button-menu" size="large" routerLink="/mascaras" expand="block">
    Mascaras de Valores
  </ion-button>
  <ion-button class="button-menu" size="large" routerLink="/push" expand="block">
    Mascaras de Valores
  </ion-button>
  <ion-button class="button-menu" size="large" routerLink="/scroll" expand="block">
    Scroll
  </ion-button>
  <ion-button class="button-menu" size="large" (click)="fechaApp()" expand="block">
    Fechar APP
  </ion-button >
</ion-content>
