<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Plugins Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="button-menu"  routerLink="/camera1" expand="block">
    Camera Usando SqLite
  </ion-button>
  <ion-button class="button-menu"  routerLink="/camera2" expand="block">
    Camera Usando Memória Interna
  </ion-button>
  <ion-button class="button-menu"  routerLink="/charts" expand="block">
    Charts
  </ion-button>
  <ion-button class="button-menu"  routerLink="/mascaras" expand="block">
    Mascaras de Valores
  </ion-button>
  <ion-button class="button-menu"  routerLink="/push" expand="block">
    Push Notification
  </ion-button>
  <ion-button class="button-menu"  routerLink="/scroll" expand="block">
    Scroll
  </ion-button>
  <ion-button class="button-menu"  routerLink="/header-hidder" expand="block">
    Esconde Header
  </ion-button>
  <ion-button class="button-menu"  routerLink="/html-itens" expand="block">
    componentes-html
  </ion-button>
  <ion-button class="button-menu"  (click)="fechaApp()" expand="block">
    Fechar APP
  </ion-button >
</ion-content>
